.home {
  background-image: url(https://www.ghibli.jp/images/kaguya1.jpg);
  height: 100vh;
}
p {
  margin-top: auto;
  display: block;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  border: 1px solid #ccc;
}
