.app {
  background-image: url(https://www.ghibli.jp/images/yamada1.jpg);
  /* background-color: red; */
  background-size: cover;
  background-position: fixed;
}

.main_div {
  margin-top: 10%;
}
.movie-card {
  overflow: hidden;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.movie-card-content {
  text-align: center;
}
