.app {
  background-image: url(https://www.ghibli.jp/images/yamada1.jpg);
  /* background-color: red; */
  height: 100vh;
  background-attachment: scroll;
  color: rgba(83, 93, 144, 0.991);
}

.main_div {
  margin-top: 10%;
}
.movie_card {
  overflow: hidden;
  cursor: pointer;
  transition: transform 200ms ease-in;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.content {
  text-align: center;
}
